/* Styles cc */

.conteneur{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.conteneur-para p{
    font-size: 24px;
}

.conteneur ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.conteneur ul li a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: blue;
}

@media screen and (max-width: 768px) {
    .conteneur ul{
        display: none;
    }

    .conteneur-para p{
        font-size: 16px;
    }


}


